numpy==1.26.4
scikit-learn==1.6.1
qiskit==1.2.4
qiskit_machine_learning==0.8.2
wandb==0.19.8
PennyLane-Lightning-GPU==0.37.0
pennylane==0.37.0
pennylane-qiskit==0.37.0
squlearn==0.8.4
keras==3.11.1
tensorflow==2.16.2
pyo3_runtime==0.0.1